<!DOCTYPE html>
<html lang="en">

<!--Property of RichtechlinkSolutions -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Contact us</title>
<!-- Bootstrap stylesheet -->
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- icofont -->
<link href="icofont/css/icofont.css" rel="stylesheet" type="text/css" />
<!-- crousel css -->
<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
<!--bootstrap select-->
<link href="js/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
<!-- stylesheet -->
<link href="css/stylemy.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<header>
	<!--top start here -->
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<ul class="list-inline pull-left icon">
						<li><a href="contact_us.ejs"><i class="icofont icofont-ui-message"></i> Email : info@instantpinsgh.com </a></li>
						<li><a href="contact_us.ejs"><i class="icofont icofont-phone"></i> Hotline : +233(0)502262457</a></li>
						
					</ul>
					
					<ul class="list-inline pull-right  icon">
						
						<li>
							<ul class="list-inline social">
								<li><a href="https://www.facebook.com/instantpins" target="_blank"><i class="icofont icofont-social-facebook"></i></a>
                                 <li><a href="https://www.twitter.com/InstantPins" target="_blank"><i class="icofont icofont-social-twitter"></i></a>
                                 <li><a href="https://www.instagram.com/instantpins" target="_blank"><i class="icofont icofont-social-instagram"></i></a>
								</li>
								
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--top end here -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div id="logo">
					<a href="index.html"><img class="img-responsive" src="images/opaltech.png" alt="logo" title="opaltech" /></a>
				</div>
			</div>
				
			<div class="col-md-7 col-sm-7 col-xs-12 paddleft">
				<!-- menu start here -->
				<div id="menu">	
					<nav class="navbar">
						<div class="navbar-header">
							<span class="menutext visible-xs">Menu</span>
							<button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="btn btn-navbar navbar-toggle" type="button"><i class="icofont icofont-navigation-menu"></i></button>
						</div>
						<div class="collapse navbar-collapse navbar-ex1-collapse padd0">
							<ul class="nav navbar-nav text-right">
								
								<li><a href="/home">Home</a></li>
								<li><a href="/faq">FAQs</a></li>
								<li><a href="/contact">contact us</a></li>
							</ul>
						</div>	
								
								
							
						
					</nav>
				</div>
				<!-- menu end here -->
			</div>
			
			
		</div>
	</div>
</header>

<div class="contactus">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.7491140205193!2d-0.24596328550966756!3d5.604030695937299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf990aaf4d16b9%3A0x8b4338a336af28e2!2sAbeka+Post+Office!5e0!3m2!1sen!2sng!4v1516128838404" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			
		</div>
	</div>
</div>					
	<div class="address">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="box text-center">
					<div class="icon">
						<i class="icofont icofont-home"></i>
					</div>
					<h4>ADDRESS</h4>
					<p>Opp Post Office Off Abeka Lapaz Rd.Accra</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="box text-center">
					<div class="icon">
						<i class="icofont icofont-phone"></i>
					</div>
					<h4>PHONE NO.</h4>
					<p>+233(0)502262457</p>
				</div>	
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="box text-center">
					<div class="icon">
						<i class="icofont icofont-ui-message"></i>	
					</div>
					<h4>EMAIL</h4>
					<p>
<h5> <strong> Need help? Send us a mail here:</strong></h5>
					info@instantpinsgh.com <br>
				


			</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="box social">
					<h4>SOCIAL LINKS</h4>
					<ul class="list-inline ">
						<li><a href="https://www.facebook.com/instantpins" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
						<li><a href="https://twitter.com/InstantPins" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
			
						<li><a href="https://www.instagram.com/instantpins" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>
						
					</ul>
				</div>
			</div>
			
		</div>
	</div>
</div>		
			
<footer>
	 <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p><span style="color: #fff"> Copyright ©</span> <strong> <span style="color: orange;font-size: 25px;">Opal Fintech</span> </strong><span style="color: #fff"> 2017</span></p>
                </div>
            </div>
        </div>
</footer>
		
	

	
 </body>

<!--Property of RichtechlinkSolutions -->

</html>
