<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- icofont -->
<link href="icofont/css/icofont.css" rel="stylesheet" type="text/css" />
<!-- crousel css -->
<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
<!--bootstrap select-->
<link href="js/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
<!-- stylesheet -->
<link href="css/style.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="css1/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css1/stylemy.css"> <!-- Resource style -->
	<script src="js1/modernizr.js"></script> <!-- Modernizr -->
	<title>FAQ |OpalFintech</title>
</head>
<style type="text/css">
	footer{
		text-align: center;
	}
</style>
<body>

<header>
	<!--top start here -->
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<ul class="list-inline pull-left icon">
						<li><a href="contact_us.html"><i class="icofont icofont-ui-message"></i> Email : info@instantpinsgh.com </a></li>
						<li><a href="contact_us.html"><i class="icofont icofont-phone"></i> Hotline : +233(0)502262457</a></li>
						
					</ul>
					
					<ul class="list-inline pull-right  icon">
						
						<li>
							<ul class="list-inline social">
								<li><a href="https://www.facebook.com/instantpins" target="_blank"><i class="icofont icofont-social-facebook"></i></a>
                                 <li><a href="https://www.twitter.com/InstantPins" target="_blank"><i class="icofont icofont-social-twitter"></i></a>
                                 <li><a href="https://www.instagram.com/instantpins" target="_blank"><i class="icofont icofont-social-instagram"></i></a>
								</li>
								
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--top end here -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div id="logo">
					<a href="/home"><img class="img-responsive" src="images/opaltech.png" alt="logo" title="opaltech" /></a>
				</div>
			</div>
				
			<div class="col-md-7 col-sm-7 col-xs-12 paddleft">
				<!-- menu start here -->
				<div id="menu">	
					<nav class="navbar">
						<div class="navbar-header">
							<span class="menutext visible-xs">Menu</span>
							<button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="btn btn-navbar navbar-toggle" type="button"><i class="icofont icofont-navigation-menu"></i></button>
						</div>
						<div class="collapse navbar-collapse navbar-ex1-collapse padd0">
							<ul class="nav navbar-nav text-right">
								<li><a href="/home">Home</a></li>
								
								<li><a href="/faq">FAQs</a></li>
								
								
								
								
								<li><a href="/contact_us">contact us</a></li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- menu end here -->
			</div>
			
			
		</div>
	</div>
</header><br><br><br><br>
	
			
<section class="cd-faq">
	
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#basics">section1</a></li>
		<li><a href="#mobile">section2</a></li>
		<li><a href="#account">section3</a></li>
		<li><a href="#payments">section4</a></li>
		<li><a href="#privacy">section5</a></li>
	
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>section1</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What is Instant Pins?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">Instant Pins is an electronic purchase system which enables the purchase of WAEC exams results and GES school placement access cards etc. across all mobile networks in a few clicks on USSD.</span></p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What are the benefits of Instant Pins?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">
							No hidden charges <br>
							Instant delivery of card via SMS or Email <br>
						Available across all mobile networks</span> 
					
				</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Who can use Instant Pins?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">Instant Pins is for everyone: any individual with a mobile money wallet across all networks can purchase a card on instant pins</span></p>	
					
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What details are required to sign up as a Merchant on Instant Pins?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">Your personal details (Name, phone number, email address and business name)</span></p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="mobile" class="cd-faq-group">
			<li class="cd-faq-title"><h2>section2</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Can I purchase a card if I have no money in my mobile money wallet?</a>
				<div class="cd-faq-content">
					<p>NO</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What minimum amount do I need in my mobile money wallet to undertake a transaction?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">An amount equivalent to the cost of the particular card you intend to purchase</span></p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I know the cost of the card I intend to purchase?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">Prices are displayed beside each card listed </span></p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="account" class="cd-faq-group">
			<li class="cd-faq-title"><h2>section3</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Is there any service charge when I purchase a card using Instant Pins?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">NO. There is no service charge. </span></p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I purchase a card using Instant Pins?</a>
				<div class="cd-faq-content">
					<h4> <span style="color: orange"> Dial *711*1000# </span></h4>&nbsp;
					<p>
							<span style="color: purple">  Select Individual<br>
							Select the card  you want to buy<br>
							Authorize payment from your Mobile Money account using your PIN <br>
							Confirm Payment<br>
							You will receive a notification of a successful payment<br>
							Wait for an SMS with Serial and Pin details of card purchased and URL to access the card</span>
					</p>
				</div><!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What happens if there is a network failure when undertaking a transaction?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">Your transaction status will be pending and either Hubtel or your network provider will send you a message to notify you.</span></p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What happens if a particular card runs out of stock immediately after successful payment?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">The chances of such an occurrence is very slim. However should this occur you will receive your card immediately the particular card is re-stocked. This should occur within 24 hours, failure of which your money will be refunded back to you.</span></p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="payments" class="cd-faq-group">
			<li class="cd-faq-title"><h2>section4</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">How does my institution become a partner with Instant Pins?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">Simply send us a mail via partnerships@instantpinsgh.com or call us on <bold><span style="color: orange"> 0542731844 <span style="color: purple"> or</span> 0502262457 </span></bold></span></p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How is my data protected under Instant Pins?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">Instant Pins is routed on the Hubtel POS service which is fully registered under the Data Protection Act 2012, Act 843, the Electronic Transactions Act, 2008 (Act 772), the Electronic 
Communications Act 2008 (Act 775) and the Electronic Communications Regulations 
2011 (LI 1991). You are therefore assured of a secure service by on Instant Pins.</span>
</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What information do we receive?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">Instant PINS only have access to your phone numbers when a transaction is attempted either successfully or unsuccessfully.</span></p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="privacy" class="cd-faq-group">
			<li class="cd-faq-title"><h2>section5</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What do we use your information for?</a>
				<div class="cd-faq-content">
					<p><span style="color: purple">
							To follow up on uncompleted transactions and offer support.<br>
							To personalize your experience: your information helps us to better respond to your individual needs.<br>
							To send periodic e-mails.</span>
					</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What are the terms and conditon?</a>
				<div class="cd-faq-content">
					<p> <span style="color: purple">Instant Pins runs on the Hubtel POS service. Kindly visit <a href="https://www.hubtel.com/legal"> Hubtel.com/legal</a> to find out the terms and conditions governing the use of the product.</span></p>
				</div> <!-- cd-faq-content -->
			</li>

			
		</ul> <!-- cd-faq-group -->

	 <!-- cd-faq-group -->
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section>
</div>
<footer>
	 <p><span style="color: #fff"> Copyright ©</span> <strong> <span style="color: orange;font-size: 25px;">Opal Fintech</span> </strong><span style="color: #fff"> 2017</span></p>
</footer> <!-- cd-faq -->
<script src="js1/jquery-2.1.1.js"></script>
<script src="js1/jquery.mobile.custom.min.js"></script>
<script src="js1/main.js"></script> <!-- Resource jQuery -->
<script src="js/jquery.2.1.1.min.js" type="text/javascript"></script>
<!-- bootstrap js -->
<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!--bootstrap select-->
<script src="js/dist/js/bootstrap-select.js" type="text/javascript"></script>
<!--internal js-->
<script src="js/internal.js" type="text/javascript"></script>
<!-- owlcarousel js -->
<script src="js/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<!--Gallery js code-->
<script src="js/photo-gallery.js" type="text/javascript"></script>
</body>
</html>