<!doctype html>
<html>
<head>
    <title>Notice</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet"  href="sweetalert/dist/sweetalert.css">
        <link rel="stylesheet"  href="css/full.css">


</head>
<body >

</body>
</html>
