<!DOCTYPE html>
<html lang="en">
<!--  Property of Opal Fintech -->

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Home</title>
<!-- Bootstrap stylesheet -->
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- icofont -->
<link href="icofont/css/icofont.css" rel="stylesheet" type="text/css" />
<!-- crousel css -->
<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
<!--bootstrap select-->
<link href="js/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
<!-- stylesheet -->
<link href="css/stylemy.css" rel="stylesheet" type="text/css"/>
</head>
<style type="text/css">
 
.ty{
	border-radius: 50%;
}
.lg{
	padding-left: 100px;
}



</style>
<body>
<!-- header start here-->
<header>
	<!--top start here -->
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<ul class="list-inline pull-left icon">
						<li><a href="contact_us.html"><i class="icofont icofont-ui-message"></i> Email : info@instantpinsgh.com </a></li>
						<li><a href="contact_us.html"><i class="icofont icofont-phone"></i> Hotline : +233(0)502262457</a></li>
						
					</ul>
					
					<ul class="list-inline pull-right  icon">
						
						<li>
							<ul class="list-inline social">
								<li><a href="https://www.facebook.com/instantpins" target="_blank"><i class="icofont icofont-social-facebook"></i></a>
                                 <li><a href="https://www.twitter.com/instantpins" target="_blank"><i class="icofont icofont-social-twitter"></i></a>
                                 <li><a href="https://www.instagram.com/instantpins" target="_blank"><i class="icofont icofont-social-instagram"></i></a>
								</li>
								
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--top end here -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div id="logo">
					<a href="#"><img class="img-responsive" src="images/opaltech.png" alt="logo" title="opaltech" /></a>
				</div>
			</div>
				
			<div class="col-md-7 col-sm-7 col-xs-12 paddleft">
				<!-- menu start here -->
				<div id="menu">	
					<nav class="navbar">
						<div class="navbar-header">
							<span class="menutext visible-xs">Menu</span>
							<button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="btn btn-navbar navbar-toggle" type="button"><i class="icofont icofont-navigation-menu"></i></button>
						</div>
						<div class="collapse navbar-collapse navbar-ex1-collapse padd0">
							<ul class="nav navbar-nav text-right">
								
								
								<li><a href="/faq">FAQs</a></li>
								
								</li>
								
								
								<li><a href="/contact">Contact us</a></li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- menu end here -->
			</div>
			
			
		</div>
	</div>
</header>
<!-- header end here -->

<!-- slider start here -->
<div class="slide"> 
	<div class="slideshow owl-carousel">
		<div class="item">
			<img src="images/one1.jpg" alt="banner" title="" class="img-responsive"  />
		</div>
		<div class="item">
			<img src="images/2.jpg" alt="banner" title="" class="img-responsive"/>
		</div>
		<div class="item">
			<img src="images/3.jpg" alt="banner" title="" class="img-responsive"/>
		</div>
	</div>


	<!-- slide-detail start here -->
	
	<!-- slide-detail end here -->
</div>
<!-- slider end here -->



<div class="dishes">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 commontop text-center">
				<h3>Institutional Partners</h3>
				
				<hr>
			</div>
		
	<div class="dish owl-carousel">
		
		
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
				<div id="ncc">
					<a href="#"><img src="images/KD.png" alt="image" hspace="40" title="image" class="img-responsive" /></a>
					<span style="visibility: hidden;">
					
				</span>
				</div>
				</div>
			</div>
		</div> 
		<div class="item">
		<span style="visibility: hidden;">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
				<span style="visibility: hidden;">
					<a href="#"><img src="images/UCC Logo N copy_zps80nmyl7a.gif" hspace="40" alt="image" title="image" class="img-responsive" /></a>
					<span style="visibility: hidden;">
					
				</span>
				</span>
				</div>
			</div>
			</span>
		</div> 
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="#"><img src="images/waec.png" alt="image" hspace="40" title="image" class="img-responsive" /></a>
							<span style="visibility: hidden;">
					
				</span>
				</div>
			</div>
		</div>
		
	</div>
	</div>
	</div>
</div>
<div class="col-sm-12 commontop text-center">
				<h4>OUR TEAM</h4>
				<hr></div>&nbsp;						

<div id="header2">
<div class="testimonail">
	<div class="container">
		<div class="row">
			<div class="testimonails owl-carousel">
							<div class="item">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="box text-center">
							<a href="#"><img src="images/bg3.jpg" alt="image" title="image" class="img-responsive" /></a>
							<p class="des">Patience Aba Sakyi holds a Bachelor of Science degree in Mathematics from the Kwame Nkrumah University of Science and Technology, Ghana, obtained in July 2015. She is currently a postgraduate research student with the National Institute for Mathematical Sciences, Ghana, in the 'Scientific Computing and Industrial Modelling' programme.
Patience's interests lie in Computational Mathematics, with specific research interest in Data Science, Differential Equations for Forensic Pathology, Computational and Digital Forensics, and Cryptography. Her extracurricular and voluntary community contributions include indulging in community-based Mathematics education and awareness creation, with particular interest in whipping up the interest of girls and young ladies in Mathematics.
She hopes to be an integral part of the move to improve and increase national interest, and consequently performance, in Mathematics in Ghana.
 </p>
							<div class="rating">
								<h5> <span style="color: orange">Product Manager </span></h5>
							</div>
							<h5>- Patience Aba Sakyi</h5>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="box text-center">
							<a href="#"><img src="images/bg1.jpg" alt="image" title="image" class="img-responsive" /></a>
							<p class="des">Enock Gyan is a trained journalist and a communication for development practitioner with a keen interest in using evidence to enhance messaging and external relations for communications to deliver maximum impact. For close to five (5) years he has been working with the media, policymakers and key opinion formers to influence and challenge political, social and economic agendas.

His ability to communicate clear, simple and active key messages and research ensures that communications help drive policy change, ultimately leading to better delivery of public services. He has a proven record of ensuring that important information travels where it needs to and that it is heard and understood effectively.
He holds a Bachelor of Arts degree in Communication studies from the Ghana Institute of Journalism and currently a postgraduate research student with the Institute of Development and Technology Management in the 'Development Studies-Technology Management option' programme.
</p>
							<div class="rating">
								<h5> <span style="color: orange">Product Publicist </span></h5>
							</div>
							<h5>- Enock Gyan</h5>
						</div>
					</div>
				</div>
						
			</div>
		</div>
	</div>
</div>
</div>&nbsp;
<div class="dishess">
	
		<div class="row">
			<div class="col-sm-12 commontop text-center">
				<h3> <a href="http://www.rtlsolution.tech"><strong><span style="font-family:monospace;font-size: 25px;background-color: transparent;color: #c3c3cc;"> Technology Partner</span></strong> </a></h3>
				
				<span style="visibility: hidden;"> <hr></span>
			</div>
		
	<div class="dish owl-carousel">
		
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		      
				<div class="box">
					<span style="visibility: hidden;">
					 <div id="lg"> <a href="http://www.rtlsolution.tech"><img src="images/Richtech link solutions (PNG) WITHOUT BG.png" alt="image" title="image" hspace="50" class="img-responsive" /></a></div>
					
					
				</span>
				</div>
			
			</div>
		</div>
	</div>
</div>

</div>




<footer>
	<div class="container">
		<div class="row inner">
			
		<div class="row powered">
			<div class="col-sm-12">
				<hr>
			</div>
			<div class="col-sm-3">
				
			</div>
			<div class="col-sm-6 text-center">
				
				<p>Copyright © <span style="font-family:monospace;font-size: 30px;background-color: transparent;color: orange;"> <strong>  Opal  Fintech </strong> </span> 2017.
 
				</p>
			</div>
			<div class="col-sm-3 text-right">
				<ul class="list-inline social">
					<li><a href="https://www.facebook.com/instantpins" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
					<li><a href="https://www.facebook.com/instantpins" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
					 <li><a href="https://www.facebook.com/instantpins" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>
								
				</ul>
			</div>
		</div>
	</div>
</div>
</footer>
<!-- jquery -->
<script src="js/jquery.2.1.1.min.js" type="text/javascript"></script>
<!-- bootstrap js -->
<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!--bootstrap select-->
<script src="js/dist/js/bootstrap-select.js" type="text/javascript"></script>
<!--internal js-->
<script src="js/internal.js" type="text/javascript"></script>
<!-- owlcarousel js -->
<script src="js/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<!--Gallery js code-->
<script src="js/photo-gallery.js" type="text/javascript"></script>
</body>
<!--  Property of Opal Fintech -->

</html>
