<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css3/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css3/style.css"> <!-- Resource style -->
	<script src="js3/modernizr.js"></script> <!-- Modernizr -->
	<title>FAQ Template | CodyHouse</title>
</head>
<body>
<header>
	<h1>FAQ Template</h1>
</header>
<section class="cd-faq">
	 <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Basics</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What is Instant Pins?</a>
				<div class="cd-faq-content">
					<p>Instant Pins is an electronic purchase system which enables the purchase of WAEC exams results and GES school placement access cards etc. across all mobile networks in a few clicks on USSD.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What are the benefits of Instant Pins?</a>
				<div class="cd-faq-content">
					<p><ul>
						<li>•	No hidden charges </li>
						<li> •	Instant delivery of card via SMS or Email </li>
						<li> •	Available across all mobile networks </li>
					</ul>
				</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What makes Instant Pins unique?</a>
				<div class="cd-faq-content">
					<p><ul>
						<li>•	Real-time transactions, no traffic. </li>
						<li>•	Simple and convenient </li>
						
					</ul>
				</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Who can use Instant Pins?</a>
				<div class="cd-faq-content">
					<p>Instant Pins is for everyone: any individual with a mobile money wallet across all networks can purchase a card on instant pins</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="payment" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Payments</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What details are required to sign up as a Merchant on Instant Pins?</a>
				<div class="cd-faq-content">
					<p>Your personal details (Name, phone number, email address and business name)</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Can I purchase a card if I have no money in my mobile money wallet?</a>
				<div class="cd-faq-content">
					<p>NO.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What minimum amount do I need in my mobile money wallet to undertake a transaction?</a>
				<div class="cd-faq-content">
					<p>An amount equivalent to the cost of the particular card you intend to purchase</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="account" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Account</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">How do I know the cost of the card I intend to purchase?</a>
				<div class="cd-faq-content">
					<p>Prices are displayed beside each card listed </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Is there any service charge when I purchase a card using Instant Pins?</a>
				<div class="cd-faq-content">
					<p>NO. There is no service charge. </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I purchase a card using Instant Pins?</a>
				<div class="cd-faq-content">
					<h4>Dial *711*1000#</h4>&nbsp;
					<p><ul>
						<li>•	Select Individual</li>
						<li>•	Select the card  you want to buy</li>
						<li>•	Authorize payment from your Mobile Money account using your PIN </li>
						<li>•	Confirm Payment</li>
						<li>•	You will receive a notification of a successful payment</li>
						<li>•	Wait for an SMS with Serial and Pin details of card purchased and URL to access the card</li>
					</ul></p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What happens if there is a network failure when undertaking a transaction?</a>
				<div class="cd-faq-content">
					<p>Your transaction status will be pending and either Hubtel or your network provider will send you a message to notify you.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="payments" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Payments</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What happens if a particular card runs out of stock immediately after successful payment?</a>
				<div class="cd-faq-content">
					<p>The chances of such an occurrence is very slim. However should this occur you will receive your card immediately the particular card is re-stocked. This should occur within 24 hours, failure of which your money will be refunded back to you.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How does my institution become a partner with Instant Pins?</a>
				<div class="cd-faq-content">
					<p>Simply send us a mail via partnerships@instantpinsgh.com or call us on <bold>0542731844 or 0502262457 </bold></p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How is my data protected under Instant Pins?</a>
				<div class="cd-faq-content">
					<p>Instant Pins is routed on the Hubtel POS service which is fully registered under the Data Protection Act 2012, Act 843, the Electronic Transactions Act, 2008 (Act 772), the Electronic 
Communications Act 2008 (Act 775) and the Electronic Communications Regulations 
2011 (LI 1991). You are therefore assured of a secure service by on Instant Pins.
</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="privacy" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Privacy Policy</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What information do we receive?</a>
				<div class="cd-faq-content">
					<p>Instant PINS only have access to your phone numbers when a transaction is attempted either successfully or unsuccessfully.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What do we use your information for?</a>
				<div class="cd-faq-content">
					<p><ul>
						<li>•	To follow up on uncompleted transactions and offer support</li>
						<li> •	To personalize your experience: your information helps us to better respond to your individual needs.</li>
						<li> •	To send periodic e-mails.</li>
					</ul></p>
				</div> <!-- cd-faq-content -->
			</li>

		
		</ul> <!-- cd-faq-group -->

		<ul id="delivery" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Terms & Cond</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What are the terms and conditon?</a>
				<div class="cd-faq-content">
					<p>Instant Pins runs on the Hubtel POS service. Kindly visit <a href="https://www.hubtel.com/legal"> Hubtel.com/legal</a> to find out the terms and conditions governing the use of the product.</p>
				</div> <!-- cd-faq-content -->
			</li>

			
		</ul> <!-- cd-faq-group -->
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
<script src="js3/jquery-2.1.1.js"></script>
<script src="js3/jquery.mobile.custom.min.js"></script>
<script src="js3/main.js"></script> <!-- Resource jQuery -->
</body>
</html>